body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: black;
    color: white;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #050505;
    border-bottom: 1px solid #00ff99;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00ff99;
}

.logo {
    color: #00ff99;
}

/* SECTIONS */

.section {
    padding: 80px 20px;
    text-align: center;
}

/* CARDS */

.card {
    background: #111;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0,255,150,0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background: #222;
    border: none;
    color: white;
    border-radius: 6px;
}

button {
    margin-top: 10px;
    padding: 10px 16px;
    background: #00ff99;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* INTRO SCREEN */

#intro {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.intro-box {
    border: 1px solid #00ff99;
    padding: 40px;
    text-align: center;
}

.glitch {
  position: relative;
  color: white;
  font-size: 2rem;
  font-family: monospace;
  letter-spacing: 2px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  animation: glitch-top 1s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 blue;
  animation: glitch-bottom 1s infinite linear alternate-reverse;
}

@keyframes glitch-top {
  0% { clip-path: inset(0 0 80% 0); }
  20% { clip-path: inset(0 0 20% 0); }
  40% { clip-path: inset(10% 0 60% 0); }
  60% { clip-path: inset(40% 0 40% 0); }
  80% { clip-path: inset(20% 0 20% 0); }
  100% { clip-path: inset(80% 0 0 0); }
}

@keyframes glitch-bottom {
  0% { clip-path: inset(80% 0 0 0); }
  20% { clip-path: inset(20% 0 20% 0); }
  40% { clip-path: inset(60% 0 10% 0); }
  60% { clip-path: inset(40% 0 40% 0); }
  80% { clip-path: inset(20% 0 20% 0); }
  100% { clip-path: inset(0 0 80% 0); }
}

@keyframes glitch-skew {
  0% { transform: skew(0deg); }
  20% { transform: skew(2deg); }
  40% { transform: skew(-2deg); }
  60% { transform: skew(1deg); }
  80% { transform: skew(-1deg); }
  100% { transform: skew(0deg); }
}

#intro {
    transition: opacity 0.8s ease;
}


