body {
    background: #0f0f0f;
    font-family: 'Segoe UI', sans-serif;
    color: #eaeaea;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.8rem;
    margin: 0;
    color: #00ff99;
}

p {
    opacity: 0.8;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0,255,150,0.15);
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #262626;
    color: white;
}

button {
    margin-top: 10px;
    padding: 12px 18px;
    border: none;
    background: #00ff99;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #00e88a;
}

#strengthResult, #phishingResult {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}
.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #00ff99;
}
#strengthResult {
    background: #111;
    border: 1px solid #333;
}

